/* body {
  background-image: url(quizshowwallpaper.jpg); 
  background-color: azure; 
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  */

#quizBody {
  background-image: url("quizBG.jpg");
  background-position: center;

  height: 100%;
  width: 100%;
}
.formBG {
  background-image: url("formBG.jpg");
  height: 100%;
  width: 60%;
  align-content: center;
}
.buttonYesNo {
  border: solid goldenrod;
  border-radius: 8mm;
  background-color: palegoldenrod;
  color: goldenrod;
  padding: 5px 15px;
  text-align: center;
  font-weight: 900;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
